## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# rails specific
*.sqlite3
config/database.yml
log/*
tmp/*

# java specific
*.class

# python specific
*.pyc

# xcode/iphone specific
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib

# akka specific
logs/*

# sbt specific
target/
project/boot
lib_managed/*
project/build/target
project/build/lib_managed
project/build/src_managed
project/plugins/lib_managed
project/plugins/target
project/plugins/src_managed
project/plugins/project

core/lib_managed
core/target
pubsub/lib_managed
pubsub/target

# eclipse specific
.metadata
jrebel.lic
.settings
.classpath
.project

.ensime*
*.sublime-*
.cache

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea

# paulp script
/.lib/

.vagrant/
*.vmdk
*.img

tectonic-1.7.5/provisioning/controller.ign.merged
tectonic-1.7.5/provisioning/etc/kubernetes/kubeconfig
tectonic-1.7.5/provisioning/etc/ssl/etcd/ca.crt
tectonic-1.7.5/provisioning/etc/ssl/etcd/peer.crt
tectonic-1.7.5/provisioning/etc/ssl/etcd/peer.pem
tectonic-1.7.5/provisioning/etc/ssl/etcd/server.crt
tectonic-1.7.5/provisioning/etc/ssl/etcd/server.key
tectonic-1.7.5/provisioning/tectonic/auth/kubeconfig
tectonic-1.7.5/provisioning/tectonic/manifests/kube-apiserver-secret.yaml
tectonic-1.7.5/provisioning/tectonic/manifests/kube-controller-manager-secret.yaml
tectonic-1.7.5/provisioning/tectonic/tectonic/config.yaml
tectonic-1.7.5/provisioning/tectonic/tectonic/identity/configmap.yaml
tectonic-1.7.5/provisioning/tectonic/tectonic/secrets/ca-cert.yaml
tectonic-1.7.5/provisioning/tectonic/tectonic/secrets/identity-grpc-client.yaml
tectonic-1.7.5/provisioning/tectonic/tectonic/secrets/identity-grpc-server.yaml
tectonic-1.7.5/provisioning/tectonic/tectonic/secrets/ingress-tls.yaml
tectonic-1.7.5/provisioning/tectonic/tls/apiserver.crt
tectonic-1.7.5/provisioning/tectonic/tls/apiserver.key
tectonic-1.7.5/provisioning/tectonic/tls/ca.crt
tectonic-1.7.5/provisioning/tectonic/tls/ca.key
tectonic-1.7.5/provisioning/tectonic/tls/etcd-client-ca.crt
tectonic-1.7.5/provisioning/tectonic/tls/etcd-client.crt
tectonic-1.7.5/provisioning/tectonic/tls/etcd-client.key
tectonic-1.7.5/provisioning/tectonic/tls/etcd/peer.crt
tectonic-1.7.5/provisioning/tectonic/tls/etcd/peer.key
tectonic-1.7.5/provisioning/tectonic/tls/etcd/server.crt
tectonic-1.7.5/provisioning/tectonic/tls/etcd/server.key
tectonic-1.7.5/provisioning/tectonic/tls/kubelet.crt
tectonic-1.7.5/provisioning/tectonic/tls/kubelet.key
tectonic-1.7.5/provisioning/tectonic/tls/service-account.key
tectonic-1.7.5/provisioning/tectonic/tls/service-account.pub
tectonic-1.7.5/provisioning/worker.ign.merged

cassandra_data/

.terraform/
pull_secret.json
license.txt
terraform.tfstate
terraform.tfstate.backup